@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=New+Rocker&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    overflow-x: hidden;
    color: white;
    background-color: black;
}

h1 {
    font-family: "New Rocker", cursive;
}

h2 {
    text-decoration: underline;
    color: salmon;
    font-size: 3rem;
}

p {
    width: 75%;
    margin: auto;
    line-height: 1.5;
    font-size: 1.5rem;
}

a {
    color: #fff;
}

a:hover {
    color: salmon;
}

/* Navbar */

nav {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .main-menu {
    display: flex;
    list-style: none;
    margin-top: 10px;
}

nav .main-menu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
}

nav .main-menu li a:hover {
    background-color: salmon;
}

nav .open-menu {
    font-size: 2rem;
    margin: 16px 20px;
    display: none;
    cursor: pointer;
}

nav .main-menu .close-menu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .logo {
    margin: 6px;
    font-size: 2rem;
    cursor: pointer;
}

/* Main */

main {
    margin: 50px auto 50px auto;
    display: flex;
    flex-direction: column;
}

/* Image */

.banner-div {
    height: 300px;
}

.banner {
    height: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Sections */

section {
    padding: 40px 0;
    margin: 0 auto;
}

.about-us-description, section ul {
    margin-top: 20px;
}

section li {
    list-style: none;
    line-height: 2;
    font-size: 1.5rem;
}

.song-list {
    text-align: left;
}

/* Footer */

.copyright {
    font-size: 1rem;
}

/* Media Queries */

@media (max-width: 800px) {
    nav .main-menu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
        transition: top 1s ease;
        display: none;
    }

    nav .main-menu .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .open-menu {
        display: block;
    }

    nav .main-menu li a:hover {
        background-color: none;
        color: salmon;
        font-size: 1.6rem;
    }
}